<main class="main">
  <div class="flex gap-2">
    <div class="surface-900 w-2 border-round-lg pt-8 p-4" style="height: 98vh">
      <a 
        routerLink="/createOrder" 
        class="text-white"
        style="text-decoration: none"
      >
        <div class="menu1 text-lg surface-600 border-round-xl p-2">
          產生訂單
        </div>
      </a>
      <a 
        routerLink="/getOrder" 
        class="text-white"
        style="text-decoration: none"
      >
        <div class="menu1 text-lg surface-600 border-round-xl p-2 mt-2">
          取得訂單資料
        </div>
      </a>
      <a 
        routerLink="/download" 
        class="text-white"
        style="text-decoration: none"
      >
        <div class="menu1 text-lg surface-600 border-round-xl p-2 mt-2">
          下載資料
        </div>
      </a>
    </div>
    <div class="w-10 p-5">
      <router-outlet />
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



